$grid-columns: 24;
$grid-gutter-width: 0px;

@import "bootstrap-grid";

* {
	font-family: commuters-sans, sans-serif;
	font-weight: 900;
    font-style: normal;
    font-feature-settings: 'calt', 'clig', 'kern', 'liga', 'locl', 'rlig';
}

h1,h2,h3,h4,h5,h6{
    font-weight: 900;
}

body {
	background-color: transparent;
	margin: 0;
	padding: 0;
}
.wrapper-hero {
	position: relative;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	width: 100%;
	min-height: (809 / 1440) * 100vw;
	margin: 0;
	padding: 0;
	@include media-breakpoint-down(sm) {
		justify-content: flex-start;
		min-height: (884 / 320) * 100vw;
	}
	.wrapper-hero__content {
		position: relative;
		height: auto;
		min-height: (492 / 1440) * 100vw;
		z-index: 20;
		display: flex;
		flex-direction: column;
		justify-content: center;
		@include media-breakpoint-down(sm) {
			min-height: (716 / 320) * 100vw;
		}
	}
	.wrapper-hero__instructions {
		position: relative;
		min-height: (314/ 1440) * 100vw;
		height: auto;
		// background-color:transparentize($color: red, $amount: 0.5);
		z-index: 20;
		@include media-breakpoint-down(sm) {
			min-height: (312 / 320) * 100vw;
			height: 800px;
		}
	}
}

.wrapper-hero__img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	min-height: (809 / 1440) * 100vw;
	width: 100%;
	z-index: 1;
	overflow: hidden;
	@include media-breakpoint-down(sm) {
		min-height: none;
		max-height: (884 / 320) * 100vw;
	}
	img {
		top: 0;
		left: 0;
		transform: translate(0, (530 / 1600) * -100%);
		position: absolute;
		width: 100%;
		max-width: 100%;
		height: auto;
		@include media-breakpoint-down(sm) {
			transform: translate((424 / 814) * -100%, 0);
			width: auto;
			max-width: none;
			height: 100%;
			max-height: 100%;
		}
	}
}

.wrapper-cereal {
	position: relative;
	width: 100%;
	.wrapper-cereal__content {
		position: absolute;
		z-index: 999;
		width: 100%;
		padding-left: 65%;
		height: 100%;
		display: flex;
		// justify-content: center;
		align-items: center;
		color:white;
		padding-right: 60px;
		h1{
			color:inherit;
		}
		p{
			font-family: Arial, Helvetica, sans-serif;
		}
		@include media-breakpoint-down(sm) {
			height: auto;
			padding-top: (330/320) * 100%;
			padding-left: 15px;
		}
	}
}
.wrapper-cereal__img {
	position: relative;
	padding-top: (700 / 1440) * 100%;
	width: 100%;
	z-index: 1;
	overflow: hidden;
	@include media-breakpoint-down(sm) {
		padding-top: (961 / 320) * 100vw;
	}
	img {
		top: 0;
		left: 0;
		transform: translate(0, 0);
		position: absolute;
		width: 100%;
		max-width: 100%;
		height: auto;
		@include media-breakpoint-down(sm) {
			transform: translate((66 / 1074) * -100%, (167 / 1193) * -100%);
			width: auto;
			max-width: none;
			height: 124%;
			max-height: 124%;
		}
	}
}
